<% include partials/header %>

<div class="container">
  <div class="row">
    <div class="centered">
    <h3 class="text-center">Add new video!<h3>
    <form action="/videos" method="POST">
      <div class="form-group">
        <!-- <label class="control-label"><small>Title</small></label> -->
        <input class="form-control" type="text" name="video[title]" placeholder="title">
      </div>

      <div class="form-group" role="button" data-trigger="focus" data-toggle="popover" data-html="true" title="Make sure to use correct URL!" data-content="In order to display the video correctly,<br>please use URL designed for embedding i.e.<br>https://www.youtube.com<strong>/embed/</strong>Ycit4OwYPNg">
        <input class="form-control" type="text" name="video[video]" placeholder="video url">
      </div>

      <div class="form-group">
        <textarea id="txt" placeholder="description" class="form-control" name="video[desc]"></textarea>
      </div>

      <button class="btn btn-primary btn-block">Submit</button>
    </form>
    </div>
  </div>
</div>

<script type="text/javascript">
$('[data-toggle="popover"]').popover({container: 'body'});
</script>
<% include partials/footer %>
